<div style="margin-top: 20px; margin-bottom: 20px;" class="align-items-center justify-content-center">
    <p-header layout="row" layout-margin style="
        background-color: #FFEEE0;
        height: 3.5em;
        display: flex;
        align-items: center;"
        class="grid">
        <div flex style="margin-left: 5px; font-size: 1.5em;" class="col">Shopping Mall</div>
        <div class="col-2 col-offset">
            <span flex style="margin-left: 5px; font-size: 1em; float: right;">Total number of product : {{total}} item</span>
        </div>
    </p-header>    

    <!-- <div class="row" style="box-shadow: 0px 1px 4px 0px #00000040;">
        @for(item of shoppingMall; track item.name){
            <div style="margin-left: 5px; margin-right: 5px; width: 50%; height: 50%;" >
                <img alt="Card" style="height: 100px; width: 100px;" src={{item.image}} />
            </div>
        }
    </div> -->

    <!-- <p-dataView [value]="shoppingMall" rows="2">
        <ng-template pTemplate="list" let-shoppingMall>
            <div class="col-5" *ngFor="let item of shoppingMall; let first = first">
                    <span>{{ item.name }}</span>
            </div>
        </ng-template>
    </p-dataView> -->

    <p-dataView #dv [value]="shoppingMall" [rows]="2" rows="2">
        <ng-template pTemplate="gridItem" let-products>
                <div class="col-5" *ngFor="let item of products; " class="col-5">
                    
                        <div class="md:w-10rem relative">
                            <img class="block xl:block mx-auto border-round w-full" [src]="item.image" [alt]="item.name" />
                        </div>
                    
                </div>
        </ng-template>
    </p-dataView>

